.background{
    position: absolute;
    right: 0;
    top: 100px;
    margin-right: 20px;
    z-index: 1000;
}

.img-1{
    background-color: transparent;
    height: 150px;
    position: absolute;
    top: -15vh;
    right: 250px;    
}

.img-2{
    position: absolute;
    height: 150px;
    right: -40px;
    top: 2vh;
}

.img-3{
    height: 120px;
    position: absolute;
    right: -20px;
    top: 35vh;
}

.img-4{
    height: 150px;
    position: absolute;
    top: 68vh;
    right: -20px;
}
.img-5{
    height: 150px;
    position: absolute;
    top: 70vh;
    right: 350px;
}
img{
    will-change: filter;
    transition: filter 300ms;
}


img:hover{
    transform: scale(110%);
    transition: all .5s;
    transform-style: flat;
    filter: drop-shadow(0 0 10px #313bf2);

    
}


@media (max-width: 1440px) {

    .img-1{
        height: 120px;
        
    }
    
    .img-2{
        height: 120px;
    }
    
    .img-3{
        height: 120px;
    
    }
    
    .img-4{
        height: 120px;
    
    }
    .img-5{
        height: 120px;
    }
    
}


@media (max-width: 1024px) {

    .img-1{
        height: 100px;
        
    }
    
    .img-2{
        height: 100px;
    }
    
    .img-3{
        height: 100px;
    
    }
    
    .img-4{
        height: 100px;
    
    }
    .img-5{
        height: 100px;
    }
    
}


@media (max-width: 768px) {

    .img-1{
        height: 80px;
        
    }
    
    .img-2{
        height: 80px;
    }
    
    .img-3{
        height: 80px;
    
    }
    
    .img-4{
        height: 80px;
    
    }
    .img-5{
        height: 80px;
    }
    
}


@media (max-width: 425px) {



    .background{
        z-index: -10000;
    }


    .img-1{
        background-color: transparent;
        height: 60px;
        position: absolute;
        top: -14vh;
        right: 100px;    
    }
    
    .img-2{
        position: absolute;
        height: 60px;
        right: -40px;
        top: 10vh;
    }
    
    .img-3{
        height: 60px;
        position: absolute;
        right: 50px;
        top: 55vh;
    }
    
    .img-4{
        height: 60px;
        position: absolute;
        top: 80vh;
        right: -20px;
    }
    .img-5{
        height: 60px;
        position: absolute;
        top: 20vh;
        left: -400px;
    }
    
}
